{% extends 'website/layout.html.twig' %}

{% block main %}
    <div class="container" style="margin-top: 80px">
        <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
            <a href="" class="stext-109 cl8 hov-cl1 trans-04">
                Inicio
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>
            <span class="stext-109 cl4">
				Carrito
			</span>
        </div>
    </div>
    <form class="bg0 p-t-75 p-b-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <thead>
                                <tr class="table_head">
                                    <th class="column-1">Product</th>
                                    <th class="column-2"></th>
                                    <th class="column-3">Price</th>
                                    <th class="column-4">Quantity</th>
                                    <th class="column-5">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set total = 0 %}
                                {% for product in products %}
                                    {% set subtotal = product.price * quantity[product.id] %}
                                    {% set total = total + subtotal %}
                                    <tr class="table_row">
                                        <td class="column-1">
                                            <div class="how-itemcart1">
                                                <img src="{{ asset(product.img) }}">
                                            </div>
                                        </td>
                                        <td class="column-2">{{ product.description }}</td>
                                        <td class="column-3">${{ product.price|number_format(2, ',', '.') }}</td>
                                        <td class="column-4">
                                            <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                                <a href="{{ path('website_cart_removeProduct', { id: product.id }) }}"
                                                   class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                                </a>
                                                <input class="mtext-104 cl3 txt-center num-product" type="number"
                                                       name="num-product1" value="{{ quantity[product.id] }}">
                                                <a href="{{ path('website_cart_addProduct', { id: product.id }) }}"
                                                   class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-plus"></i>
                                                </a>
                                            </div>
                                        </td>
                                        <td class="column-5">${{ subtotal|number_format(2, ',', '.') }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5" style="text-align: center; padding: 20px;">
                                            Ningun producto añadido al carrito.
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <h4 class="mtext-109 cl2 p-b-30">
                            Reservar Productos
                        </h4>
                        <div class="flex-w flex-t p-t-27 p-b-33">
                            <div class="size-208">
								<span class="mtext-101 cl2">
									Total:
								</span>
                            </div>
                            <div class="size-209 p-t-1">
								<span class="mtext-110 cl2">
									${{ total|number_format(2, ',', '.') }}
								</span>
                            </div>
                        </div>
                        <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                            Comfirmar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
