{% extends 'website/layout.html.twig' %}

{% block main %}
    <section class="section-slide">
        <div class="wrap-slick1">
            <div class="slick1">
                <div class="item-slick1" style="background-image: url({{ asset(slides.0.img|default) }});">
                    <div class="container h-full">
                        <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                            <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-101 cl2 respon2 glow">
									{{ slides.0.title1|default }}
								</span>
                            </div>
                            <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                                <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1 glow">
                                    {{ slides.0.title2|default }}
                                </h2>
                            </div>
                            <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                                <a href="{{ slides.0.buttonLink|default }}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                    {{ slides.0.buttonText|default }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slick1" style="background-image: url({{ asset(asset(slides.1.img|default)) }});">
                    <div class="container h-full">
                        <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                            <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-101 cl2 respon2 glow">
									{{ slides.1.title1|default }}
								</span>
                            </div>

                            <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                                <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1 glow">
                                    {{ slides.1.title2|default }}
                                </h2>
                            </div>

                            <div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
                                <a href="{{ slides.1.buttonLink|default }}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                    {{ slides.1.buttonText|default }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-slick1" style="background-image: url({{ asset(asset(slides.2.img|default)) }});">
                    <div class="container h-full">
                        <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                            <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
								<span class="ltext-101 cl2 respon2 glow">
									{{ slides.2.title1|default }}
								</span>
                            </div>

                            <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
                                <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1 glow">
                                    {{ slides.2.title2|default }}
                                </h2>
                            </div>

                            <div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
                                <a href="{{ slides.2.buttonLink|default }}" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                    {{ slides.2.buttonText|default }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="bg6 p-t-75 p-b-40">
        <h2 class="ltext-105 cl0 txt-center" style="color: #000; margin-bottom: 50px">Sobre Nosotros</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-8">
                    <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                        <h3 class="mtext-111 cl2 p-b-16">Nuestra Misión</h3>
                        <p class="stext-113 cl6 p-b-50 text-justify">{{ companySettings.mission|raw }}</p>

                        <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                            <h3 class="mtext-111 cl2 p-b-16">Nuestra Visión</h3>
                            <p class="stext-113 cl6 p-b-50 text-justify">{{ companySettings.vision|raw }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-5 col-lg-4 m-lr-auto p-b-50">
                    <div class="how-bor1 ">
                        <div class="hov-img0">
                            <img src="{{ asset('img/about-01.jpg') }}" alt="IMG">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                    <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                        <h3 class="mtext-111 cl2 p-b-16">Nuestra Historia</h3>
                            <p class="stext-113 cl6 p-b-26 text-justify">{{ companySettings.history|raw }}</p>
                    </div>
                </div>
                <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto">
                    <div class="how-bor2">
                        <div class="hov-img0">
                            <img src="{{ asset('img/about-02.jpg') }}" alt="IMG">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contacts" class="bg0 p-t-75 p-b-140">
        <h2 class="ltext-105 cl0 txt-center" style="color: #000; margin-bottom: 50px">Contactanos</h2>
        <div class="container">
            <div class="flex-w flex-tr">
                <div id="google_map" class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md" style="min-height: 400px"></div>
                <div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md">
                    <div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-map-marker"></span>
						</span>
                        <div class="size-212 p-t-2">
                            <span class="mtext-110 cl2">Dirección</span>
                            <p class="stext-115 cl6 size-213 p-t-18">{{ companySettings.address }}</p>
                        </div>
                    </div>
                    <div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-phone-handset"></span>
						</span>
                        <div class="size-212 p-t-2">
                            <span class="mtext-110 cl2">Puede llamar al</span>
                            <p class="stext-115 cl1 size-213 p-t-18">{{ companySettings.phone1 }}</p>
                            <p class="stext-115 cl1 size-213 p-t-18">{{  companySettings.phone2 }}</p>
                        </div>
                    </div>
                    <div class="flex-w w-full">
						<span class="fs-18 cl5 txt-center size-211">
							<span class="lnr lnr-envelope"></span>
						</span>
                        <div class="size-212 p-t-2">
                            <span class="mtext-110 cl2">Soporte</span>
                            <p class="stext-115 cl1 size-213 p-t-18">{{ companySettings.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}

{% block scripts %}

    {{ parent() }}

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFZ4rT8ZdNw8TR0eBRw-hV7-qMu8GVTiY&callback=initMap"></script>
    <script>
        function initMap() {
            var myLatLng = {lat: {{ companySettings.latitude }}, lng: {{ companySettings.longitude|default }} };

            var map = new google.maps.Map(document.getElementById('google_map'), {
                zoom: 16,
                center: myLatLng,
                disableDefaultUI: true,
                styles: [
                    {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#e9e9e9"
                            },
                            {
                                "lightness": 17
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#f5f5f5"
                            },
                            {
                                "lightness": 20
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            },
                            {
                                "lightness": 17
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            },
                            {
                                "lightness": 29
                            },
                            {
                                "weight": 0.2
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            },
                            {
                                "lightness": 18
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#ffffff"
                            },
                            {
                                "lightness": 16
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#f5f5f5"
                            },
                            {
                                "lightness": 21
                            }
                        ]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#dedede"
                            },
                            {
                                "lightness": 21
                            }
                        ]
                    },
                    {
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "color": "#ffffff"
                            },
                            {
                                "lightness": 16
                            }
                        ]
                    },
                    {
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "saturation": 36
                            },
                            {
                                "color": "#333333"
                            },
                            {
                                "lightness": 40
                            }
                        ]
                    },
                    {
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#f2f2f2"
                            },
                            {
                                "lightness": 19
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#fefefe"
                            },
                            {
                                "lightness": 20
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#fefefe"
                            },
                            {
                                "lightness": 17
                            },
                            {
                                "weight": 1.2
                            }
                        ]
                    }
                ]
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: '{{ companySettings.name }}'
            });
        }
    </script>
{% endblock %}
